<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="server" value="LINN-PC\SQLEXPRESS"/>
    <add key="uid" value="sa"/>
    <add key="password" value="saadmin"/>
    <add key="database" value="backuptest"/>
    <add key="path" value="e:\dbname.bak"/>
  </appSettings>
</configuration>
